<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <br>
        <h2>Post Your Quote</h2><br>
        <div class="row">
            <div class="col-sm">
                <app-quote-form></app-quote-form>
                <br><br>
            </div>
            <div class="col-sm">
                <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">Hamisi Ngao</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <i class="fa fa-thumbs-up" style="font-size:24px; color:blue"></i> <pre></pre>
                     
                      <i class="fa fa-thumbs-down" style="font-size:24px; color:blue"></i>
                    </div>
                  </div>
                  <div class="card bg-light mb-3" style="max-width: 35rem;">
                    <div class="card-header">Salim Darwesh</div>
                    <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

            </div>

        </div>
    </div>
</body>

</html>