<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <br>
        <h2>Post Your Quote</h2><br>
        <div class="row">
            <div class="col-sm">
                <app-quote-form (addQuote) = 'addNewQuote($event)'></app-quote-form>
                <br><br>
            </div>
            <div class="col-sm">
                <div class="card bg-light mb-3" style="max-width: 35rem;" *ngFor = "let quote_instance of myQuote ;let i = index">
                    <div class="card-header">{{"@"+ quote_instance.username}}
                        

                        <button type="button" class="btn btn-outline-danger pull-right" (click)="deleteQuote(i)">Delete
                                Quote</button>
                    </div>


                    <div class="card-body">
                        
                        <p class="card-text">{{quote_instance.description}}</p>
                        <button type="button" class="btn btn-light" (click)="increaseUpvote(i)"> <i class="fa fa-thumbs-up" style="font-size:24px; color:blue"></i>{{quote_instance.upVote}}</button><span class="tab"></span>
                       
                        <button type="button" class="btn btn-light" (click)="increaseDownVote(i)"><i class="fa fa-thumbs-down" style="font-size:24px; color:rgb(182, 20, 60)"></i>{{quote_instance.downVote}}</button>
                        <span class="tab"></span>
                        <div>
                            {{quote_instance.postedDate|date}}
                        </div>
                        


                    </div>
                </div>
               
          
             

            </div>

        </div>
    </div>
</body>

</html>