<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
      

        <form (ngSubmit)='submitQuote()'>
            <div class="form-group">
              <label for="author">Author</label>
              <input type="text" class="form-control" id="author" maxlength="20" size="20" [(ngModel)]="newQuote.author" name="name"  placeholder="John Doe">
              {{newQuote.author}}
            </div>
            <div class="form-group">
              <label for="postedby">Posted By</label>
              <input type="text" class="form-control" id="postedby" maxlength="20" size="20" [(ngModel)]="newQuote.publisher" name="name" placeholder="John Doe">
              {{newQuote.publisher}}
            </div>
            <div class="form-group">
              <label for="quote">Quote</label>
              <textarea class="form-control" id="quote" rows="3" cols="5" [(ngModel)]="newQuote.description" name="name"></textarea>
              {{newQuote.description}}
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
          </form>
    </div>
    
</body>
</html>
